$bg-primary: #f2ebe3;
$bg-secondary: #fff;

$text-color-primary: #1c232b;
$text-color-secondary: #6c7289;

$highlight-color: #3c8067;
$highlight-color-hover: darken($highlight-color, 20%);

$font-Montserrat: 'Montserrat', sans-serif;
$font-fraunces: 'Fraunces', serif;
$font-weight-bold: 700;
$font-weight-medium: 500;
$font-size-large: 2em;
$font-size-medium: 14px;
$font-size-small: small;

$radius: 0.5em;
