$text-color-primary: #1c232b;
$text-color-secondary: #6c7289;

$highlight-color: #3c8067;
$highlight-color-hover: darken($highlight-color, 20%);

$font-title: 'Fraunces', serif;
$font-weight-bold: 700;
$font-weight-medium: 500;
$font-size-large: 3.2rem;
$font-size-medium: 1.4rem;
$font-size-small: 1.2rem;

$radius: 0.8rem;
$padding: 1.5rem;
