@import url("https://fonts.googleapis.com/css2?family=Fraunces:wght@700&family=Montserrat:wght@500;700&display=swap");
*,
*::after,
*::before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background-color: #f2ebe3;
  width: 100%;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.card {
  width: 90%;
  background-color: #fff;
  border-radius: 0.5em;
}
.card > .card__img {
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border-radius: 0.5em 0.5em 0 0;
}
.card > .card__content {
  padding: 1.5em;
  padding-top: 0;
}
.card > .card__content .card__title {
  line-height: 1;
  font-family: "Fraunces", serif;
  position: relative;
}
.card > .card__content .card__title::before {
  content: "perfume";
  font-family: "Montserrat", sans-serif;
  font-size: small;
  font-weight: 500;
  position: absolute;
  left: 0;
  top: -1em;
  color: #6c7289;
  text-transform: uppercase;
}
.card > .card__content .card__paragraph {
  font-size: 14px;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  color: #6c7289;
}
.card > .card__content .card__price {
  font-family: "Fraunces", serif;
  color: #3c8067;
}
.card > .card__content .card__price::after {
  content: "$169.99";
  font-family: "Montserrat", sans-serif;
  font-size: small;
  font-weight: 500;
  color: #6c7289;
  -webkit-text-decoration-line: line-through;
          text-decoration-line: line-through;
  vertical-align: middle;
}
.card > .card__content .card__btn {
  width: 100%;
  height: 3em;
  text-align: center;
  font-weight: 700;
  border: none;
  background-color: #3c8067;
  color: #fff;
  border-radius: 0.5em;
}
.card > .card__content .card__btn::before {
  content: url(../images/icon-cart.svg);
  vertical-align: middle;
  position: relative;
  right: 12px;
}