@import 'variable';
@import url('https://fonts.googleapis.com/css2?family=Fraunces:wght@700&family=Montserrat:wght@500;700&display=swap');

*,
*::after,
*::before {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  font-family: 'Montserrat', sans-serif;
  background-color: hsl(30, 38%, 92%);
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  $c: &;

  width: 90%;
  background-color: #fff;
  border-radius: $radius;

  &__img {
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-radius: $radius $radius 0 0;
  }

  &__content {
    padding: $padding;
    padding-top: 0;

    #{$c}__quote {
      font-size: $font-size-small;
      font-weight: $font-weight-medium;
      color: $text-color-secondary;
      letter-spacing: 0.4rem;
      text-transform: uppercase;
      display: inline-block;
      margin-top: $padding;
    }

    #{$c}__title {
      line-height: 1;
      font-family: $font-title;
      margin-top: $padding;
    }

    #{$c}__paragraph {
      font-size: $font-size-medium;
      font-weight: $font-weight-medium;
      word-spacing: 1px;
      line-height: 1.5;
      color: $text-color-secondary;
      margin-top: $padding;
    }

    #{$c}__price {
      font-family: $font-title;
      color: $highlight-color;

      &::after {
        content: '$169.99';
        font-size: $font-size-small;
        font-weight: $font-weight-medium;
        font-family: 'Montserrat', sans-serif;
        color: $text-color-secondary;
        text-decoration-line: line-through;
        vertical-align: 50%;
        position: relative;
        margin-left: $padding;
      }
    }

    #{$c}__btn {
      width: 100%;
      height: 4.8rem;
      text-align: center;
      font-weight: $font-weight-medium;
      font-size: $font-size-medium;
      border: none;
      background-color: $highlight-color;
      color: #fff;
      border-radius: $radius;
      margin-bottom: 1rem;

      &::before {
        // content裡面可以直接放icon
        content: url(../images/icon-cart.svg);
        vertical-align: middle;
        position: relative;
        margin-right: 1.2rem;
      }
    }
  }
}
